<!DOCTYPE html>
<html>
<head>
    <title>Black Body Spectrum</title>


	<style>
    	body {
        	background-color: #a0e6cf; /* verde acqua riposante */
        	color: #000; /* testo nero leggibile */
        	font-family: sans-serif;
    	}
	
	</style>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

</head>

    <body>

    <h3 style="font-size: 2em;" >Radiation emitted by a source at given surface temperature</h3>
    <p style="font-size: 2.0em;">The black body model is widely applied in many different contexts: from the spectral shape of the radiation emitted by the Sun—which closely resembles a black body spectrum at a temperature of around 6000 K—to LED lights used for illumination, which are available in both warm (low source temperature) and cold (high source temperature) color tones.</p>

    	<p style="font-size: 2.5em;">
  		\( B(\lambda, T) = \frac{2hc}{\lambda^3} \frac{1}{e^{\frac{hc}{k_B T\lambda}} - 1} \)
	</p>


    <img src="{{ url_for('static', filename='img/blackBodySpectrum.png') }}" 
    	alt="Black body spectrum" 
	width="1100" height="700">
	
    <!--
    <h1>Polarization coefficient and the Clausius-Mossotti Model</h1>
    <p><p>
  The polarization coefficient \( \boldsymbol{\alpha} \) is defined as the proportionality constant between the induced molecular dipole moment \( \mathbf{p} \) and the local electric field \( \mathbf{E_l} \).
</p>



	<div style="text-align: center; font-size: 1.2em;">
  	\[
  	\mathbf{P} = n \mathbf{p} = \varepsilon n \alpha \mathbf{E_l}
  	\]
	</div>

	where \( n \) is the number of electrical dipoles per unit volume and \( \mathbf{P} \) is the macroscopic averaged dipole moment.

	In a wide range of situations, the determination of macroscopic optical properties of materials reduces to the determination of the polarization of the polarization constant only.

	The most simple expression for the polarization coefficient is the <strong>Clausius-MossottiModel</strong> for the molecular linear polarizability \( \boldsymbol{\alpha} \) in a gas constituted by non-polar and identical molecules 
    -->
	</body>
</html>

