<!DOCTYPE html>
<html>
<head>
    <title>Black Body Spectrum</title>


	<style>
    	body {
        	background-color: #a0e6cf; /* verde acqua riposante */
        	color: #000; /* testo nero leggibile */
        	font-family: sans-serif;
    	}
	
	</style>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

</head>

    <body>

    <h1>Radiation emitted by a source at given surface temperature</h1>
    <p>This function works for a wide range of physical situations. The sun emits a black body radiation at a temperature of about 6000 kelvin</p>

    <p>Black Body formula</p>
	<p>
  		\( B(\nu, T) = \frac{2h\nu^3}{c^2} \frac{1}{e^{\frac{h\nu}{k_B T}} - 1} \)
	</p>


    <img src="{{ url_for('static', filename='img/blackBodySpectrum.png') }}" 
    	alt="Black body spectrum" 
	width="800" height="600">
	
    <!--
    <h1>Polarization coefficient and the Clausius-Mossotti Model</h1>
    <p><p>
  The polarization coefficient \( \boldsymbol{\alpha} \) is defined as the proportionality constant between the induced molecular dipole moment \( \mathbf{p} \) and the local electric field \( \mathbf{E_l} \).
</p>



	<div style="text-align: center; font-size: 1.2em;">
  	\[
  	\mathbf{P} = n \mathbf{p} = \varepsilon n \alpha \mathbf{E_l}
  	\]
	</div>

	where \( n \) is the number of electrical dipoles per unit volume and \( \mathbf{P} \) is the macroscopic averaged dipole moment.

	In a wide range of situations, the determination of macroscopic optical properties of materials reduces to the determination of the polarization of the polarization constant only.

	The most simple expression for the polarization coefficient is the <strong>Clausius-MossottiModel</strong> for the molecular linear polarizability \( \boldsymbol{\alpha} \) in a gas constituted by non-polar and identical molecules 
    -->
	</body>
</html>

